<app-input (addNewTask)="saveTask($event)"></app-input>

<div cdkDropListGroup>
  <app-status-tasks
    [title]="'To Do'"
    [statusTask]="status.ToDo"
    [tasks]="tasks"
    [allTaskStatus]="todo"
    [countTask]="countTaskStatus(status.ToDo)"
    (updateAllTasks)="updateAllTasks($event)">
  </app-status-tasks>

  <app-status-tasks
    [title]="'In Progress'"
    [statusTask]="status.InProgress"
    [tasks]="tasks"
    [allTaskStatus]="inProgress"
    [countTask]="countTaskStatus(status.InProgress)"
    (updateAllTasks)="updateAllTasks($event)">
  </app-status-tasks>

  <app-status-tasks
    [title]="'Done'"
    [statusTask]="status.Done"
    [tasks]="tasks"
    [allTaskStatus]="isDone"
    [countTask]="countTaskStatus(status.Done)"
    (updateAllTasks)="updateAllTasks($event)">
  </app-status-tasks>
</div>




