<div class="blox-add">
  <input [(ngModel)]="newName">
  <button (click)="saveTask(newName)"> добавить</button>
</div>

<div cdkDropListGroup>
  <div class="example-container">
    <h2>To do</h2>
    <div cdkDropList
         [cdkDropListData]="tasks"
         class="example-list"
         #list="cdkDropList"
         [cdkDropListConnectedTo]="[doneList]"
         (cdkDropListDropped)="drop($event, status.ToDo)">
      <div class="example-box" *ngFor="let item of todo()" cdkDrag [cdkDragData]="item">{{item.name}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>In progress</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="inProgress()"
         class="example-list"
         [cdkDropListConnectedTo]="[list]"
         (cdkDropListDropped)="drop($event, status.InProgress)">
      <div class="example-box" *ngFor="let item of inProgress()" cdkDrag [cdkDragData]="item">{{item.name}}</div>
    </div>
  </div>

  <div class="example-container">
    <h2>Done</h2>
    <div cdkDropList
         #doneList="cdkDropList"
         [cdkDropListData]="isDone()"
         class="example-list"
         [cdkDropListConnectedTo]="[list]"
         (cdkDropListDropped)="drop($event, status.Done)">
      <div class="example-box" *ngFor="let item of isDone()" cdkDrag [cdkDragData]="item">{{item.name}}</div>
    </div>
  </div>
</div>




