<div class="wrapper">
  <div class="header">

    <div class="header-info">
      <span class="header-info__all-name">Tasks</span>
      <span class="header-info__all-value">{{ tasks.length }}</span>
    </div>

    <div class="header-info">
      <span class="header-info__done-name">Tasks Done</span>
      <span class="header-info__done-value">{{ countDoneTask() }}</span>
    </div>

    <button class="header-btn__del--done" (click)="removeDone()" *ngIf="countDoneTask()">
      <img class="img-del__btn" src="../../assets/delete.svg" alt="bin">
      Task Done
    </button>

    <button class="header-btn__del--all" (click)="removeAll()" *ngIf="tasks.length">
      <img class="img-del__btn" src="../../assets/delete.svg" alt="bin">
      Task
    </button>
  </div>

  <div class="block-content">
    <div class="task" *ngFor="let task of tasks; let i  = index" (click)="toggleStatus(task)">
      <app-task [task]="task" (removeTask)="removeById(task.id)"
                (changeStatus)="toggleStatus(task)"></app-task>
    </div>
  </div>
  <div class="block--add">
    <app-input (addNewTask)="saveTask($event)"></app-input>
  </div>
</div>

<div class="error" [class.error-on]="hasError">
  <p>Введите текст</p>
  <p class="error__close-btn" (click)="closeError()">&#10015;</p>
</div>
