<div class="container">
  <mat-card>
    <div class="toggle">
      <mat-slide-toggle class="toggle-button"
                        [(ngModel)]="isChecked"
                        (change)="changedTheme($event)">
        <mat-icon>{{ mode }}</mat-icon>
      </mat-slide-toggle>
    </div>

    <div class="wrap">
      <div class="block_button">
        <button class="button_version--full--mini" (click)="toggleVersion()">
          {{isFullVersion ? 'Mini version' : 'Full version'}}
        </button>
        <button class="button-d3" [routerLink]="'/d3/'">D3</button>
        <button class="button-chart" [routerLink]="'/chart/'">Chart.js</button>
      </div>

      <h1 class="todo-title">Angular Todo list</h1>
      <router-outlet></router-outlet>

    </div>
  </mat-card>
</div>
