.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .button_version--full--mini {
    position: absolute;
    top: 20px;
    left: 20px;

    button {
      width: 100px;
      height: 30px;
      background: #3e7fc0;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;

      &:hover {
        background: #cb0001;
      }
    }
  }

  .todo-title {
    color: #3e7fc0;
  }
}

@media (max-width: 1000px) {
  .error {
    right: -200px;
    bottom: 80px;

    &-on {
      right: 10px;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 400px;
    min-height: 600px;
  }

  .block-content {
    min-height: 400px;
    transition: 0.5s;
  }
}



