

.wrap {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .button_version--full--mini{
    position: absolute;
    top: 20px;
    left: 20px;
  }

  .todo-title {
    color: #3e7fc0;
  }
}

.error {
  position: absolute;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 50px;
  right: -200px;
  width: 150px;
  height: 20px;
  background: #a90c0c;
  transition: .2s;
  border-radius: 6px;
  color: white;
  box-shadow: 2px 2px 6px #540303;

  &-close-btn {
    cursor: pointer;
  }

  &-on {
    right: 10px;
  }
}

@media (max-width: 1000px) {
  .error {
    right: -200px;
    bottom: 80px;

    &-on {
      right: 10px;
    }
  }
}

@media (max-width: 600px) {
  .wrapper {
    max-width: 400px;
    min-height: 600px;
  }

  .block-content {
    min-height: 400px;
    transition: 0.5s;
  }
}



