<div class="block-drop">
  <h2>{{title}} {{ countTask }}</h2>
  <div cdkDropList
       class="block-drop__list"
       (cdkDropListDropped)="drop($event, statusTask)">
    <div class="block-drop__task" *ngFor="let item of allTaskStatus"
         cdkDrag [cdkDragData]="item"
         [routerLink]="'/details/'+item.id">
      {{item.name}}
      <img class="task-img__del" src="../../../assets/del-red.svg"
           (click)="removeById(item.id)" alt="bin">
    </div>
  </div>

  <div class="block-drop__button-remove">
    <button *ngIf="tasks.length"
            (click)="removeByStatus(statusTask)">Remove Todo
    </button>
  </div>
</div>
