.task {
  width: 700px;
  height: 500px;
  background: white;
  border: 1px solid #3e7fc0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;

  &-name,
  &-detail,
  &-button {
    max-width: 700px;
    max-height: 65px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #3e7fc0;
    padding: 10px;
  }

  &-name {
    p, input {
      color: black;
      height: 100%;
      outline: none;
      border: none;
    }
  }

  &-detail {
    max-height: none;
    height: 100%;

    p, input {
      color: black;
      height: 100%;
      width: 100%;
      outline: none;
      border: none;
    }
  }

  &-button {
    position: relative;;
    margin-bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__dropdown {
      position: relative;
      display: inline-block;


      &:hover .dropdown-content {
        display: block;
      }

      &-dropbtn {
        background-color: #04AA6D;
        color: white;
        font-size: 16px;
        border: none;
        width: 160px;
        height: 40px;
        border-radius: 10px;

        &:hover {
          background: #0e8f60;
        }
      }

      .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
      }

      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }

      .dropdown-content a:hover {
        background-color: #ddd;
        border-radius: 10px;
      }
    }

    .delete {
      color: black;
      font-size: 40px;
      height: 35px;
      width: 45px;
      &:hover{
       color: red;
      }
    }

    .exit {
      color: black;
      cursor: pointer;
      &:hover {
        color: red;
      }
    }
  }
}
