<ng-container *ngIf="task">
  <div class="task">
    <div class="task-name" (click)="focusOnInputName()">
      <input class="" #nameTask2 (blur)="clickOutInput()" *ngIf="!blockNameTask" [(ngModel)]="task.name">
      <p *ngIf="blockNameTask" (click)="blockNameTask = !blockNameTask">{{task.name}}</p>
    </div>

    <div class="task-detail" (click)="focusOnInputDetail()">
      <input #detailTask2 (blur)="clickOutInput()" *ngIf="!blockDetailTask" [(ngModel)]="task.detail">
      <p *ngIf="blockDetailTask" (click)="blockDetailTask = !blockDetailTask">{{task.detail}}</p>
    </div>

    <div class="task-button">

      <div class="task-button-back">
        <button></button>
      </div>

      <div class="task-button__dropdown">
        <button class="task-button__dropdown-dropbtn">{{task.status}}</button>
        <div class="dropdown-content">
          <a (click)="toggleTaskStatus(status.ToDo)">{{status.ToDo}}</a>
          <a (click)="toggleTaskStatus(status.InProgress)">{{status.InProgress}}</a>
          <a (click)="toggleTaskStatus(status.Done)">{{status.Done}}</a>
        </div>
      </div>

      <div class="task-button--remove">
        <img  src="../../assets/del-red.svg" (click)="remove()" alt="bin">
      </div>
    </div>
  </div>
</ng-container>
